:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(5, 6, 18, 0.849);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.answer-output {
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.02);
  border-radius: 8px;
  padding: 0.6em 1.2em;
  max-width: 780px;
  min-height: 1em;
  margin-bottom: 1em;
}

.prompt-output {
  outline: 2px solid rgba(23, 131, 209, 0.3);
  background: rgba(23, 131, 209, 0.1);
  border-radius: 4px;
  padding: 0.2em 0.2em;
  margin-right: 0.5em;
  margin-left: -0.2em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(10, 92, 150, 0.849);
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  border-radius: 8px;
  border: 2px solid rgba(113, 131, 145, 0.364);
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-family: inherit;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.prompt-input {
  margin-right: 0.6em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
